body {
    /* theme.ts: colors.bg */
    background-color: #302f5b;
    overflow: hidden;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#app-preloader {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#app-preloader img {
    animation: infinite rotate 2s ease-in-out;
}
